@model ManiaGaming.Models.ProductDetailViewModel
@{
    ViewData["Title"] = "Detail";
}
<body>
    <h2 style="margin-left:30%">@Model.Naam</h2>
</body>
<!DOCTYPE html>
<html>

<head>
    
    <link rel="stylesheet" href="site.css">
</head>

<body>




    


    <div style="float:left; width:45%; margin-left:1.5%;">
        <img style="float:right; width:200px; height:250px" src="~/images/super mario galaxy.jpg">
    </div>
    <div style="float:right; width:20%; margin-left:1.5%; margin-right:30%; position:center;">
        <p style="margin-left:1.5%">
            <div class="product-title"><p><strong>Naam:       </strong>@Model.Naam</p></div>
            <div class="product-desc"><p><strong>Beschrijving: </strong>@Model.Omschrijving</p></div>

            <strong>Prijs:</strong>@Model.Prijs

        </p>
        @Html.ActionLink("Voeg toe aan winkelwagen","AddWinkelwagen", "Winkelwagen", new { id = @Model.Id })
            <button>Kopen</button>
        
    </div>

    <div style="height:100%; margin-top:20%;">
        <button><a asp-action="Index">Terug naar lijst</a></button>
    </div>
   
   




</body>
</html>
