@model ManiaGaming.Models.ProductDetailViewModel
@{
    ViewData["Title"] = "Detail";
}
<body>
    <h2>Game Details</h2>
</body>
<!DOCTYPE html>
<html>

<head>
    <title>Game Details</title>
    <link rel="stylesheet" href="site.css">
</head>

<body>


    

    <h3 class="hheader">@Model.Naam</h3>


    <div style="float:left; width:45%; margin-left:1.5%;">
        <img style="float:right; width:200px; height:250px" src="~/images/super mario galaxy.jpg">
    </div>
    <div style="float:right; width:20%; margin-left:1.5%; margin-right:30%; position:center; border-style:solid; border-color:mediumspringgreen;">
        <p style="white-space:pre-line; margin-left:1.5%">
            <strong>Beschrijving</strong>
            @Model.Omschrijving

            <strong>Prijs:</strong>@Model.Prijs

        </p>
        @Html.ActionLink("Voeg toe aan winkelwagen","AddWinkelwagen", "Winkelwagen", new { id = @Model.Id })
            <button>Kopen</button>
        
    </div>

    <div style="height:100%; margin-top:35%;">
        <button><a asp-action="Index">Terug naar lijst</a></button>
    </div>

    



</body>
</html>
