@model ManiaGaming.Models.FiliaalViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a asp-area="" asp-controller="Filiaal" asp-action="Insert">Filiaal Toevoegen</a>
<div>
    <div class="table-products">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Locatie</th>
                    <th>Telefoonnummer</th>
                    <th>Postcode</th>
                    <th>Huisnummer</th>
                    <th>Status</th>
                    <th>Update</th>
                </tr>

            </thead>
            @foreach (FiliaalDetailViewModel item in Model.filiaalDetailViewModels)
            {
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Stad)</td>
                        <td>@Html.DisplayFor(modelItem => item.Telefoonnummer)</td>
                        <td>@Html.DisplayFor(modelItem => item.Postcode)</td>
                        <td>@Html.DisplayFor(modelItem => item.Huisnummer)</td>
                        <td>
                            @if (item.Actief == false)
                            {
                                @Html.ActionLink("Activeren", "Activeren", new { id = item.Id })
                            }
                            else
                            {
                                @Html.ActionLink("Deactiveren", "Activeren", new { id = item.Id })
                            }
                        </td>
                        <td>@Html.ActionLink("Aanpassen", "Aanpassen", new { id = item.Id})</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>