@model ManiaGaming.Models.BestellingProductViewModel
@{
    ViewData["Title"] = "Geschiedenis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (BestellingProductDetailViewModel item in Model.BestellingProductDetailViewModels)
{
    <div class="container">
        <div>
            <div class="col-lg-6 klant-profiel">

                <p></p>
                <h4>@Html.DisplayFor(modelItem => item.Naam)</h4>
                <p><strong>Omschrijving: </strong>@Html.DisplayFor(modelItem => item.Omschrijving)</p>
                <p><strong>Aantal: </strong>@Html.DisplayFor(modelItem => item.Aantal)</p>
                <p><strong>Prijs: </strong>@Html.DisplayFor(modelItem => item.Prijs)</p>
                <p><strong>Datum: </strong>@Html.DisplayFor(modelItem => item.Datum)</p>




            </div>
        </div>
    </div>
    <br>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
