@model ManiaGaming.Models.KlantDetailViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!------ Include the above in your HEAD tag ---------->




<div class="container">
    <div>
        <h2>Profiel</h2>
        <div class="col-lg-6 klant-profiel">

            
            <p></p>
            <h4>@Model.Naam @Model.AchterNaam</h4>
            <p><strong>E-mail: </strong>@Model.Email</p>
            <p><strong>Geboortedatum: </strong>@Model.Geboortedatum </p>
            <p><strong>Postcode: </strong>@Model.Postcode </p>
            <p><strong>Huisnummer: </strong>@Model.Huisnummer </p>
            <p>
                <strong>Punten: </strong>
                <span class="tags">@Model.Punten</span>
            </p>



        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Aanpassen", "Aanpassen", new { Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
