@model ManiaGaming.Models.ProductViewModel

@{
    ViewData["Title"] = "Productenlijst";
}

<h2>Product Lijst</h2>

<p>
    <a asp-action="Aanmaken">Nieuwe toevoegen</a>
    <div align="right">
        <a asp-area="" asp-controller="Categorie" asp-action="Index">Categorie</a>
    </div>
</p>

<div id="productContainer">
    <table class="table table-striped table-hover" id="productTable" style="width:100%;">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Prijs</th>
                <th>Acties</th>
                <th>Aantal</th>
            </tr>
        </thead>
        <tbody>
            @{var count = 0;}
            @foreach (ProductDetailViewModel item in Model.ProductDetailViewModels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                        @if (item.Tweedehands == true)
                        {
                            <label>(Tweedehands)</label>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Prijs)</td>
                    <td>
                        @Html.ActionLink("Detail", "Detail", new { id = item.Id }) |
                        @if (!item.Actief)
                        {
                            @Html.ActionLink("Activeren", "Activeren", new { id = item.Id })
                        }
                        else
                        {
                            @Html.ActionLink("Deactiveren", "Activeren", new { id = item.Id })
                        }
                    </td>
                    <td>

                        <!-- Trigger/Open The Modal -->
                        <button id="buttonId-@count">Aanpassen</button>

                        <!-- The Modal -->
                        <div id="modalId-@count" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">

                                <span id="closeId-@count">&times;</span>
                                <div class="row">
                                    <div class="col-md-4">
                                        <form asp-action="Aanpassen">
                                            <div class="form-group">
                                                <label asp-for="@item.Id" hidden="hidden" class="control-label"></label>
                                                <input asp-for="@item.Id" hidden="hidden" class="form-control" name="Id" />
                                                <span asp-validation-for="@item.Id" hidden="hidden" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@item.Naam" class="control-label"></label>
                                                <input asp-for="@item.Naam" class="form-control" name="Naam" />
                                                <span asp-validation-for="@item.Naam" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@item.Omschrijving" class="control-label"></label>
                                                <input asp-for="@item.Omschrijving" class="form-control" name="Omschrijving" />
                                                <span asp-validation-for="@item.Omschrijving" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@item.Prijs" class="control-label"></label>
                                                <input asp-for="@item.Prijs" class="form-control" name="Prijs" />
                                                <span asp-validation-for="@item.Prijs" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>Categorie</label>
                                                <select asp-for="@item.CategorieId" class="form-control" name="CategorieId">
                                                    @for (int i = 0; i < Model.CategorieList.Count(); i++)
                                                    {
                                                        if (i == @item.CategorieId)
                                                        {
                                                            <option selected value="@Model.CategorieList[i].Id">@Model.CategorieList[i].Naam</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@Model.CategorieList[i].Id">@Model.CategorieList[i].Naam</option>
                                                        }
                                                    }
                                                </select>
                                                <span asp-validation-for="@item.CategorieId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@item.Soort" class="control-label"></label>
                                                <select asp-for="@item.Soort" class="form-control" name="Soort">
                                                    @for (int i = 0; i < Model.SoortList.Count(); i++)
                                                    {
                                                        if (Model.SoortList[i] == @item.Soort)
                                                        {
                                                            <option selected value="@i">@Model.SoortList[i]</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@i">@Model.SoortList[i]</option>
                                                        }
                                                    }
                                                </select>
                                                <span asp-validation-for="@item.Soort" class="text-danger"></span>
                                            </div>
                                            <input type="submit" value="Opslaan" class="btn btn-default" />

                                        </form>
                                    </div>
                                </div>
                                @*<p> @Html.ActionLink("Aanpassen", "Aanpassen", new { id = item.Id })</p>*@
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aantal)
                        @Html.ActionLink("Verander Stock", "VeranderStock", new { id = item.Id })
                    </td>
                </tr>
                count = count + 1;
            }
        </tbody>
    </table>
</div>


    <script>
        var modals = [];
        var btns = [];
        var spans = [];
        @{var count2 = 0;}
        window.onload = function(){
        @foreach (ProductDetailViewModel item in Model.ProductDetailViewModels)
        {
                    <text>
            // Get the modal
            modals.push(document.getElementById("modalId-@count2"));
            var modal = modals[@count2];

            // Get the button that opens the modal
            btns.push(document.getElementById("buttonId-@count2"));
            var btn = btns[@count2];
         
            // Get the <span> element that closes the modal
            spans.push(document.getElementById("closeId-@count2"));
            var span = spans[@count2];
            // When the user clicks on the button, open the modal
            btn.onclick = function () {
                modals[parseInt(@count2)].style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modals[parseInt(@count2)].style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modals[@count2].style.display = "none";
                }
            }
            
        </text>
            count2 = count2 + 1;
        }

            console.log(modals[2]);
            }
    </script>

