@model ManiaGaming.Models.ProductViewModel

@{
    ViewData["Title"] = "Productenlijst";
}

<h2>Product Lijst</h2>

<p>
    <a asp-action="Aanmaken">Nieuwe toevoegen</a>
    <div align="right">
        <a asp-area="" asp-controller="Categorie" asp-action="Index">Categorie</a>
    </div>
</p>

<div id="productContainer">
    <table class="table table-striped table-hover" id="productTable" style="width:100%;">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Prijs</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductDetailViewModel item in Model.ProductDetailViewModels)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Naam)</td>
                    <td>@Html.DisplayFor(modelItem => item.Prijs)</td>
                    <td>
                        @Html.ActionLink("Detail", "Detail", new { id = item.ProductId }) |
                        @Html.ActionLink("Aanpassen", "Aanpassen", new { id = item.ProductId }) |
                        @if (item.Actief == false)
                        {
                            @Html.ActionLink("Activeren", "Activeren", new { id = item.ProductId })
                        }
                        else
                        {
                            @Html.ActionLink("Deactiveren", "Activeren", new { id = item.ProductId })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>