@model ManiaGaming.Models.ProductViewModel

<head>
    @{
        ViewData["Title"] = "Table";
    }
    <link href="~/css/Table.css" rel="stylesheet">
    <title></title>


</head>

<h2>Product Lijst</h2>

<p>
    <a asp-action="Aanmaken">Nieuwe toevoegen</a>
    <div align="right">
        <a asp-area="" asp-controller="Categorie" asp-action="Index">Categorie</a>
    </div>
</p>

<div id="productContainer">
    <table class="table table-striped table-hover" id="productTable" style="width:100%;">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Prijs</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductDetailViewModel item in Model.ProductDetailViewModels)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Naam)</td>
                <td>@Html.DisplayFor(modelItem => item.Prijs)</td>
                <td>
                    @Html.ActionLink("Detail", "Detail", new { id = item.ProductId }) |
                    @Html.ActionLink("Aanpassen", "Aanpassen", new { id = item.ProductId }) |
                    @Html.ActionLink("Verwijderen", "Verwijderen", new { id = item.ProductId })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        $("document").ready(function () {
            initDataTable();
            $("#productContainer").removeClass("hidden");
        });

        function initDataTable() {
            $("#productTable").DataTable({
                "language": {
                    "sProcessing": "Bezig...",
                    "sLengthMenu": "_MENU_ resultaten weergeven",
                    "sZeroRecords": "Geen resultaten gevonden",
                    "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                    "sInfoEmpty": "Geen resultaten om weer te geven",
                    "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                    "sInfoPostFix": "",
                    "sSearch": "Zoeken:",
                    "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                    "oPaginate": {
                        "sFirst": "Eerste",
                        "sLast": "Laatste",
                        "sNext": "Volgende",
                        "sPrevious": "Vorige"
                    },
                    "oAria": {
                        "sSortAscending": ": activeer om kolom oplopend te sorteren",
                        "sSortDescending": ": activeer om kolom aflopend te sorteren"
                    }
                }
            });
        }
    </script>
}