@model ManiaGaming.Models.WinkelwagenDetailViewModel;
@using ManiaGaming.Models.Data;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
}

<html>
<head>

</head>
<body>

  


    <div class="table-products" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2"><a asp-controller="Games" asp-action="index" class="btn btn-default">Continue Shopping</a></div>
            <div class="col-md-7"></div>
            @{ if (Model == null )
                {

                }
                else
                {
                    <div class="col-md-2"><a asp-controller="Bestelling" asp-action="Bestel" class="btn btn-default">Bestel</a></div>@*Alleen laten zien als model != aan null*@
                }
            }

        </div>


        @{ if (Model == null)
            { <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2" style="margin-top:50px;">De winkelwagen is leeg</div>
            <div class="col-md-9"></div>
        </div>
                }

                else
                {
              <table class="content-table">
                  <thead>
                      <tr>

                          <th>Id</th>
                          <th>Name</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Total</th>
                          <th>Delete</th>


                      </tr>
                  </thead>

                  @foreach (Product p in Model.producten)
                  {
                      <tbody>

                          <tr>

                              <td>@p.Id</td>
                              <td>@p.Naam</td>
                              <td>@p.Prijs</td>
                              <td>@p.Aantal</td>
                              <td>@(Convert.ToDecimal(p.Prijs) * p.Aantal)</td>
                              <td>@Html.ActionLink("Delete", "Remove", "Winkelwagen", new { id = p.Id })</td>


                          </tr>


                      </tbody>}
              </table>


                }
            }  
    </div>
    <br>


</body>
</html>

@*@Html.ActionLink("Bestel", "Index", "Bestelling")*@