@model ManiaGaming.Models.WinkelwagenDetailViewModel;
@using ManiaGaming.Models.Data;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
}

<html>
<head>
 
</head>
<body>

    <h3>Cart Page</h3>
    <a asp-controller="Games" asp-action="index">Continue Shopping</a>
    @Html.ActionLink("Bestel","Index","Bestelling")
    <div class="table-products">
        <table class="content-table">
            <thead>
                <tr>

                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    @*<th>Total</th>*@
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                @foreach (Product p in Model.producten)
                {

                    <tr>

                        <td>@p.Id</td>
                        <td>@p.Naam</td>
                        <td>@p.Prijs</td>
                        <td>@p.Aantal</td>
                        @*<td>@(p.Prijs * p.Aantal)</td>*@
                        <td>@Html.ActionLink("Delete", "Remove", "Winkelwagen", new { id = p.Id })</td>


                    </tr>
                }

            </tbody>
        </table>
    </div>
    <br>


</body>
</html>

