@model ManiaGaming.Models.OrderDetailViewModel

@{
    ViewData["Title"] = "Detail";
}



<div class="container-fluid">
    <h2>Order Detail</h2>

    <div class="col-lg-6 table-bordered">
        <div>
            <strong>Order ID: </strong>@Html.DisplayFor(model => model.Id)
        </div>

        <div>
            <strong>Product ID: </strong>@Html.DisplayFor(model => model.ProductId)
        </div>
        <div>
            <strong>Werknemer ID: </strong>@Html.DisplayFor(model => model.WerknemerID)
        </div>
        <div>
            <strong>Filiaal ID: </strong>@Html.DisplayFor(model => model.OntvangerID)
        </div> 
        <div>
            <strong>Datum: </strong>@Html.DisplayFor(model => model.Datum)
        </div>
        <div>
            <strong>Ontvangen: </strong>@Html.DisplayFor(model => model.Ontvangen)
        </div>

        <div>
            @Html.ActionLink("Aanpassen", "Aanpassen", new { id = Model.Id })
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

