<!DOCTYPE html>
@model ManiaGaming.Models.OrderViewModel;
@{
    ViewData["Title"] = "Index";
}
<head>

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <title></title>


</head>

<body>
    <h2>Index</h2>

    <p>
        <a asp-action="Aanmaken">Create New</a>
    </p>

    <div class="table-products">
        <table class="content-table" >
            <thead>
                <tr>
                    <th>OrderNummer</th>
                    <th>Datum</th>
                    <th>Acties</th>
                    <th>Aantal</th>
                </tr>
            </thead>
            
                @foreach (OrderDetailViewModel item in Model.Orders)
                {<tbody>
                     <tr>
                         <td>@Html.DisplayFor(modelItem => item.Id)</td>
                         <td>@Html.DisplayFor(modelItem => item.Datum)</td>
                         <td>
                             @Html.ActionLink("Detail", "Detail", new { id = item.Id }) |
                             @Html.ActionLink("Aanpassen", "Aanpassen", new { id = item.Id }) |
                             @if (item.Ontvangen == false)
                             {
                                 @Html.ActionLink("Ontvangen", "Ontvangen", new { id = item.Id })
                             }
                         </td>
                         <td>@Html.DisplayFor(modelItem => item.Aantal)</td>
                     </tr>
</tbody>
    }

        </table>
        </div>

</body>